<div class="tools">
  <div class="resources">
    <!-- <label for="resource">Select resource:</label> -->
    <select id="resource" [disabled]="disableSelect" [(ngModel)]="selectedNewsSource"
      (change)="showNews($event.target.value)" required>
      <option value="" disabled selected>Select source of news</option>
      <option value="the-verge">The Verge</option>
      <option *ngFor="let source of sources" value="{{source.id}}">{{source.name}}</option>
      <option value="local">Local news</option>
      <option value="all">All news</option>
    </select>
  </div>
  <div class="news-filter">
    <input placeholder="Filter" type="text" [(ngModel)]="searchValue" />
  </div>
  <div class='checkbox-block'>
    <label class="my-news" for="myNews">Only my news</label>
    <input id="myNews" type="checkbox" (change)="showMyNews()">
  </div>
  <div class="create-news">
    <button [routerLink]="['/create']">Add</button>
  </div>
</div>

<div class="article-list">
  <div class="articles" *ngFor="let article of news | filter : searchValue | loadMore : loadMore">
    <div class="article">
      <img src="{{article.urlToImage}}" />
      <div class="article-description"> 
        <div>
          <div class="title">
            <div *ngIf="article.url;else without_url">
              <a href="{{article.url}}">{{article.title}}</a>
            </div>
            <ng-template #without_url>
              <b>{{article.title}}</b>
            </ng-template>
          </div>
          <div class="description">{{article.description}}</div>
        </div>
        <div *ngIf="article.author == 'Me'" class='arcticle-btns'>
          <button class='edit-button' [routerLink]="['edit', article.id]" routerLinkActive="active">Edit</button>
          <button (click)="deleteArticle(article.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!loadMore" class='btn-block'>
  <button class="load-more-cta" (click)="loadMore = !loadMore">Load more</button>
</div>