.configuration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 0 15px;
  font-size: 16px;

  .choose-channel {
    select {
      max-height: 300px;
      border-radius: 2px;
      border-color: #ced4da;
      background: rgba($color: #ffffff, $alpha: 0.5);
      cursor: pointer;

      option{
        background: rgba($color: #ffffff, $alpha: 0.5) !important;
      }
    }
  }

  .filter {
    max-width: 400px;

    input {
      background: rgba($color: #ffffff, $alpha: 0.5);
      color: black;
      max-height: 25px;
      padding: 16px 5px;

     
    }

    input,
    button {
      font-size: 16px;
      background: rgba($color: #ffffff, $alpha: 0.5);
      color: black;
      border-color: black;
    }
  }

  .checkbox.button,
  label {
    cursor: pointer;
  }

  .button {
    button {
      font-size: 16px;
    }
  }
}

.form-control{
  color: black;
}


::placeholder{
  color: black;
  opacity: 1;
}